<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/daterangepicker/moment.min.js"></script>
<script src="/js/daterangepicker/daterangepicker.js"></script>
</body>
</html>